<footer>
    <div class="f-info">

        <!-- <div class="f-info-socials">
<i class="fa-brands fa-square-facebook">

</i>
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
        </div> -->

        <div class="f-info-socials">
            <ul>
              <a href="https://www.facebook.com/AirbnbIndia"><i class="fa-brands fa-facebook"></i></i></a>
              <!-- <a href=""><i class="fa-brands fa-linkedin"></i></a> -->
              <a href="https://x.com/i/flow/login?redirect_after_login=%2Fairbnb_in"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-instagram"></i></i></a>
            
            </ul>
          </div>


        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            
        </div>
    </div>
</footer>