
body{
    font-family:  'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.container{
    flex: 1;
}

/* Navbar */

.navbar{
    height: 5rem;
    background-color: rgb(190, 166, 246);


}
.fa-compass{
    color:#fe424d ;
    font-size: 2rem;
}
.nav-link{

    color: #222222 !important;
}

/* footer */

.f-info-links a{
text-decoration: none;
color: azure;
vertical-align: middle;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
   
}

.f-info-socials i{

    margin-right: 1rem;
    font-size: 1.5rem;
 }



.f-info{
    text-align: center;
    height: 8rem;
  background-color: rgb(143, 140, 140);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */

.card{
    background-color: #fe424d;
}
.listing-card{
   border: none !important; 
   margin-bottom: 2rem;
  
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
 
}

.card-body{
    padding: 0 !important;
}
.card-text p{
  font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important; 
    
}

/* Show Page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;

}

.show-card{
    padding-left: 0;
    padding-right: 0;
 
    color: (--text);

}




    